
@import "_fonts";

html,
body {
	font-family: 'titillium_webregular';
	margin: 0;
	padding: 0;
	color: #666;
}

.btnPopUp {
	cursor: pointer;
	text-align: center;
	vertical-align: middle;

	position: absolute;
	right: 25px;
	bottom: 25px;
	width: 70px;
	height: 70px;
	background-color: #00A1E0;
	
	border-radius: 50%;
	box-shadow: 0px 0px 1px 6px #f2f2f2;
	background: #00A1E0 url('../images/icon-logo.svg') no-repeat center center;
}

.popUp {
	display: none;
	width: 600px;
	height: auto;
	background-color: #fff;

	position: absolute;
	right: 20px;
	bottom: 20px;

	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.13);
	box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.13);

	z-index: 1;
}

.top {
	position: relative;
	padding: 5px;
	background-color: #f9f9f9;
	border-radius: 5px;
	.logo img {
		width: 63px;
	}
	.close {
		text-align: center;
		cursor: pointer;
		background: #00A1E0 url('../images/close.svg') no-repeat center;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		float: right;
	}
}


.statusCall {
	padding: 0 12px 40px 12px;
    cursor: pointer;
    background-color: #f9f9f9;
}

.callsHistory {
		width: 187px;
	    display: inline-block;
	    vertical-align: text-bottom;
		
		.icon {
			text-align: center;
			display: inline-block;
			width: 38px;
			height: 38px;
			border-radius: 50%;
			border: 1px solid #ccc;
			background: url(../images/return.svg) no-repeat center center;
		}

	    div {
	    	font-family: 'titillium_weblight';
			display: inline-block;
    		text-transform: uppercase;
    		color: #666;
    		font-size: 14px;
    		vertical-align: top;
    		margin-top: 11px;
		}
}	

// CALL INFO //
.callInfo {
	text-align: right;
	width: 385px;
	display: inline-block;

	.status {
		display: inline-block;
		
		span {
			font-family: 'titillium_webbold';
    		color: #fff;
    		vertical-align: -webkit-baseline-middle;
    		margin: 2px;
    		padding: 0px 5px;
    		border-radius: 5px;
    		text-transform: uppercase;
    		display: table;
    		font-size: 15px;

			&.on {
				background-color: #00D95A;
			}
			&.off {
				background-color: #ccc;
			}
		}
	}

	.timer {
		display: inline-block;
		font-size: 50px;
		color: #666;
		padding: 0 10px;
	}

	.icon {
		vertical-align: text-bottom;
		text-align: center;
		display: inline-block;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		border: 1px solid #ccc;
		background: url(../images/phone.svg) no-repeat center center;
	}
}

// PROFILE
.profile {
	padding: 10px 10px 0 10px;
    margin-top: -50px;

	.photo {
		display: inline-block;
	}

	.content {
		position: relative;
		display: inline-block;
		width: 460px;
		vertical-align: top;

		.name {
			vertical-align: top;
			display: inline-block;
			font-size: 22px;
			color: #666;
		}
		.onLine {
			display: inline-block;
			padding: 6px;
			border-radius: 50%;
			background-color: #00D95A;
		}
	}

	.phoneNumber {
		text-decoration: underline;
		font-size: 22px;
		color: #00A1E0;
		display: inline-block;
    	vertical-align: top;
    	right: 0;
    	position: absolute;
	}

	.info {
		display: block;
		margin: 10px 5px;
		color: #666;

		&:before {
			display: inline-block;
			content: url('../images/icon-info.svg');
			width: 7px;
		}
		div {
			display: block;
			color: #ccc;
			a {
				color: #ccc;
				margin-left: 5px;
			}	
		}
	}
}

// HISTORY //
.history {
	padding: 5px 25px;
	height: 80px;

	.phone {
		text-align: center;
		display: inline-block;
		width: 62px;
		height: 62px;
		margin-right: 15px;

		border-radius: 50%;
		border: 1px solid #ccc;
		vertical-align: -webkit-baseline-middle;

		background: url(../images/phoneBig.svg) no-repeat center center;		
	}

	.logs {
		min-width: 300px;
		display: inline-block;
		vertical-align: -webkit-baseline-middle;

		.log {
			display: inline-block;

			.title {
				font-family: 'titillium_webbold';
    			font-size: 15px;
    			padding: 0px 5px;
    			text-transform: uppercase;
    			background: #ccc;
    			color: #fff;
    			border-radius: 5px;
			}
			.content {
				font-size: 15px;
				text-align: center;
				text-transform: uppercase;
				color: #666;
				padding: 5px;
			}
		}
	}
	.calls {
		display: inline-block;
		vertical-align: top;
		margin-top: -10px;

		.select {
			font-family: 'titillium_weblight';
			font-size: 15px;
			color: #666;
			text-transform: uppercase;
    		padding: 5px;

			&:after {
				vertical-align: top;
				margin-left: 5px;
				content: url('../images/arrow.svg');
			}
		}
		.follow {
			display: inline-block;
			font-size: 12px;
			color: #00A1E0;
			margin: 0 5px;
			
			&:before {
				text-align: center;
				display: block;
				content: url('../images/calendar.svg');
			}
		}
		.note {
			display: inline-block;
			font-size: 12px;
			color: #00A1E0;
			margin: 0 5px;
			
			&:before {
				text-align: center;
				display: block;
				content: url('../images/notes.svg');
			}
		}
	}
}


// NOTES //
.notes {
	background-color: #ebeff2;
	padding: 25px 5px 5px 5px; 
	border-radius: 5px;

	.title {
		font-family: 'titillium_weblight';
		background-color: #ebeff2;
    	text-align: center;
    	text-transform: uppercase;
    	width: 300px;
    	padding: 5px 5px 0 5px;
    	margin: -40px auto 0 auto;
    	display: block;
    	border-radius: 5px;
	}
	.content {
		font-family: 'titillium_weblight';
		position: relative;
		border: 1px solid #ececec;
    	border-radius: 5px;
    	margin: 5px;
    	padding: 15px 100px 15px 15px;
    	background-color: #fff;
		
		.btnSave {
			text-transform: uppercase;
			padding: 10px 25px;
    		border-radius: 5px;
    		background-color: #00A1E0;
    		color: #fff;
    		position: absolute;
    		right: 15px;
    		top: 30px;
    		cursor: pointer;
		}
	}	
}
































